In [1]:
seasons = ['Начало весны',
 'Дождевая вода',
 'Пробуждение насекомых',
 'Весеннее равноденствие',
 'Ясно и светло',
 'Хлебные дожди',
 'Начало лета',
 'Малое изобилие',
 'Колошение хлебов',
 'Летнее солнцестояние',
 'Малая жара',
 'Большая жара',
 'Начало осени',
 'Окончание жары',
 'Белые росы',
 'Осеннее равноденствие',
 'Холодные росы',
 'Выпадение инея',
 'Начало зимы',
 'Малые снега',
 'Большие снега',
 'Зимнее солнцестояние',
 'Малые холода',
 'Большие холода']

In [2]:
l = 1
for i in seasons:
    print(l, i)
    l+=1

1 Начало весны
2 Дождевая вода
3 Пробуждение насекомых
4 Весеннее равноденствие
5 Ясно и светло
6 Хлебные дожди
7 Начало лета
8 Малое изобилие
9 Колошение хлебов
10 Летнее солнцестояние
11 Малая жара
12 Большая жара
13 Начало осени
14 Окончание жары
15 Белые росы
16 Осеннее равноденствие
17 Холодные росы
18 Выпадение инея
19 Начало зимы
20 Малые снега
21 Большие снега
22 Зимнее солнцестояние
23 Малые холода
24 Большие холода

In [4]:
season_dict = {}
season_dict['Пробуждение насекомых'] = 'цветение персика, сливы; весенний сев'
season_dict['Колошение хлебов'] = 'уборка урожая озимых пшеницы и ячменя; сев затопляемого риса, проса и чумизы, сев пшена; окончание посевов; ягоды шелковицы'
season_dict['Окончание жары'] = 'сбор винограда, фруктов; жатва'
season_dict['Дождевая вода'] = 'trees and grass put forth shoots'
season_dict['Ясно и светло'] = 'paulownia begins to bloom'
season_dict['Хлебные дожди'] = 'duckweed begins to sprout, peony blooms'
season_dict['Холодные росы'] = 'chrysanthemums bloom yellow'
season_dict['Выпадение инея'] = 'plants yellow and shed leaves'
season_dict['Начало зимы'] = 'water begins to freeze'

In [5]:
season_dict

{'Пробуждение насекомых': 'цветение персика, сливы; весенний сев',
 'Колошение хлебов': 'уборка урожая озимых пшеницы и ячменя; сев затопляемого риса, проса и чумизы, сев пшена; окончание посевов; ягоды шелковицы',
 'Окончание жары': 'сбор винограда, фруктов; жатва',
 'Дождевая вода': 'trees and grass put forth shoots',
 'Ясно и светло': 'paulownia begins to bloom',
 'Хлебные дожди': 'duckweed begins to sprout, peony blooms',
 'Холодные росы': 'chrysanthemums bloom yellow',
 'Выпадение инея': 'plants yellow and shed leaves',
 'Начало зимы': 'water begins to freeze'}

In [59]:
yield_by_season = pd.DataFrame(columns=['name', 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24])
work_by_season = pd.DataFrame(columns=['name', 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24])

In [39]:
yield_by_season.loc[len(yield_by_season)] = ['', 
                                             0, 0, 0, 0, 0, 
                                             0, 0, 0, 0, 0,
                                             0, 0, 0, 0, 0,
                                             0, 0, 0, 0, 0, 
                                             0, 0, 0, 0]

Empty DataFrame
Columns: [name, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
Index: []

In [28]:
yield_by_season.loc[len(yield_by_season)] = ['вишня', 
                                             0, 0, 0, 0, 0, 
                                             0, 0, 0, 0, 0,
                                             0, 0, 1000, 2000, 0,
                                             0, 0, 0, 0, 0, 
                                             0, 0, 0, 0]
work_by_season.loc[len(work_by_season)] = ['вишня', 
                                             0, 0, 5, 0, 0, 
                                             0, 0, 5, 0, 0,
                                             0, 0, 5, 15, 0,
                                             0, 0, 0, 0, 0, 
                                             0, 0, 0, 0]

In [60]:
yield_by_season.to_csv('yield_by_season.csv', index=False)
work_by_season.to_csv('work_by_season.csv', index=False)
fields.to_csv('fields.csv', index=False)
nutritional.to_csv('nutritional.csv', index=False)

In [33]:
data = [['картофель', 0.5], 
        ['рис', 0.5], 
        ['рыба', 0.5], 
        ['утка', 0.5], 
        ['вишня', 0.2]]

In [9]:
display(yield_by_season)
work_by_season

,name,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
0,картофель,0,0,0,0,0,0,0,0,0,0,26000,0,0,0,0,0,0,0,0,0,0,0,0,0
1,рис,0,0,0,0,0,0,0,0,0,7500,0,0,0,0,0,0,0,7500,0,0,0,0,0,0
2,рыба,0,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,70,0,0,0
3,утка,0,0,0,0,0,10,8,10,5,5,5,5,10,10,5,5,5,10,10,5,0,0,0,0

,name,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24
0,картофель,0,0,0,0,0,0,20,10,10,20,40,0,0,0,0,0,0,0,0,0,0,0,0,0
1,рис,0,0,30,0,10,0,10,0,10,30,30,0,10,0,10,0,10,30,0,0,0,0,0,0
2,рыба,0,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,0,0,0
3,утка,0,0,0,0,0,5,1,5,1,1,2,2,2,2,1,2,1,3,3,2,0,0,0,0

In [34]:
fields = pd.DataFrame(columns=['name', 'area_ha'], data=data)
fields

        name  area_ha
0  картофель      0.5
1        рис      0.5
2       рыба      0.5
3       утка      0.5
4      вишня      0.2

In [44]:
nutritional = pd.DataFrame(columns=['name', 'protein', 'fat', 'carbohydrates'], data=data)

In [43]:
data = [['картофель', 2, 0, 18], 
        ['рис', 1, 0, 10], 
        ['рыба', 18, 5, 3], 
        ['утка', 17, 8, 0], 
        ['вишня', 1, 0, 10]]

In [3]:
import pandas as pd
pd.set_option('display.max_columns', 50)

In [8]:
yield_by_season = pd.read_csv('yield_by_season.csv', index_col=0)
work_by_season = pd.read_csv('work_by_season.csv', index_col=0)
fields = pd.read_csv('fields.csv', index_col=0)
nutritional = = pd.read_csv('nutritional.csv', index_col=0)

In [41]:
all_harvest = {'картофель': 0, 'рис': 0, 'рыба': 0, 'утка': 0, 'вишня': 0}
all_work = 0
for i in range(1,25):
    print('Сезон', i)
    season_work = 0
    for c in all_harvest:
        culture = c
        work_hours = (work_by_season.loc[work_by_season.name==c, str(i)].values[0]
                        *fields.loc[fields.name==c, 'area_ha'].values[0])
        season_work += work_hours
    print('Работ на', season_work ,'часов')
    all_work += season_work
    
    print('Урожай:')
    for c in all_harvest:
        culture = c 
        harvested_kg = (yield_by_season.loc[yield_by_season.name==c, str(i)].values[0]
                        *fields.loc[fields.name==c, 'area_ha'].values[0])
        all_harvest[culture] += harvested_kg
        if harvested_kg > 0:
            print(culture, harvested_kg, 'кг')  
    
    print()
    
print('Всего', all_harvest)    
print('Всего часов',all_work)

Сезон 1
Работ на 0.0 часов
Урожай:

Сезон 2
Работ на 2.5 часов
Урожай:
рыба 35.0 кг

Сезон 3
Работ на 18.5 часов
Урожай:
рыба 35.0 кг

Сезон 4
Работ на 2.5 часов
Урожай:
рыба 35.0 кг

Сезон 5
Работ на 7.5 часов
Урожай:
рыба 35.0 кг

Сезон 6
Работ на 5.0 часов
Урожай:
рыба 35.0 кг
утка 5.0 кг

Сезон 7
Работ на 18.0 часов
Урожай:
рыба 35.0 кг
утка 4.0 кг

Сезон 8
Работ на 11.0 часов
Урожай:
рыба 35.0 кг
утка 5.0 кг

Сезон 9
Работ на 13.0 часов
Урожай:
рыба 35.0 кг
утка 2.5 кг

Сезон 10
Работ на 28.0 часов
Урожай:
рис 3750.0 кг
рыба 35.0 кг
утка 2.5 кг

Сезон 11
Работ на 38.5 часов
Урожай:
картофель 13000.0 кг
рыба 35.0 кг
утка 2.5 кг

Сезон 12
Работ на 3.5 часов
Урожай:
рыба 35.0 кг
утка 2.5 кг

Сезон 13
Работ на 9.5 часов
Урожай:
рыба 35.0 кг
утка 5.0 кг
вишня 200.0 кг

Сезон 14
Работ на 6.5 часов
Урожай:
рыба 35.0 кг
утка 5.0 кг
вишня 400.0 кг

Сезон 15
Работ на 8.0 часов
Урожай:
рыба 35.0 кг
утка 2.5 кг

Сезон 16
Работ на 3.5 часов
Урожай:
рыба 35.0 кг
утка 2.5 кг

Сезон 17
Работ на 8.0 часов
Урожай:
рыба 35.0 кг
утка 2.5 кг

Сезон 18
Работ на 19.0 часов
Урожай:
рис 3750.0 кг
рыба 35.0 кг
утка 5.0 кг

Сезон 19
Работ на 4.0 часов
Урожай:
рыба 35.0 кг
утка 5.0 кг

Сезон 20
Работ на 3.5 часов
Урожай:
рыба 35.0 кг
утка 2.5 кг

Сезон 21
Работ на 2.5 часов
Урожай:
рыба 35.0 кг

Сезон 22
Работ на 0.0 часов
Урожай:

Сезон 23
Работ на 0.0 часов
Урожай:

Сезон 24
Работ на 0.0 часов
Урожай:

Всего {'картофель': 13000.0, 'рис': 7500.0, 'рыба': 700.0, 'утка': 54.0, 'вишня': 600.0}
Всего часов 212.5

In [54]:
protein = 0
fat = 0 
carbohydrates = 0

for c,v in all_harvest.items():
    protein += v*(nutritional.loc[nutritional.name==c, 'protein'].values[0]/100)
    fat += v*(nutritional.loc[nutritional.name==c, 'fat'].values[0]/100)   
    carbohydrates += v*(nutritional.loc[nutritional.name==c, 'carbohydrates'].values[0]/100) 
print('б', protein, 'ж', fat, 'у', carbohydrates)

б 476.18 ж 39.32 у 3171.0

In [52]:
nutritional

        name  protein  fat  carbohydrates
0  картофель        2    0             18
1        рис        1    0             10
2       рыба       18    5              3
3       утка       17    8              0
4      вишня        1    0             10

In [ ]:
90 гр белка + 60 гр жиров + 250 г

In [57]:
display(protein/0.09/365)
display(fat/0.06/365)
carbohydrates/0.25/365

14.495585996955862

1.795433789954338

34.75068493150685

In [59]:
212/8

26.5